{% extends 'testapp/base.html' %}
{% load static  %}
{% block title %}profile{% endblock title %}

{% block container %}
<div class="container ">
    <div class="row my-3"> 
             <div class="col-sm-9 offset-sm-3 ">
                <h3>Reset Password completed!!!!</h3>
                <hr>
                <div>
                    <img src="https://media.giphy.com/media/tf9jjMcO77YzV4YPwE/giphy.gif" 
                    width="200" height="200" alt="Verified Check GIF">

                    

                </div>
            </div>        
    </div> 
</div>  
{% endblock container %}
