.goodnesscount img{

    width: 100%;
}
.smb {
    background-color: white; background-image: linear-gradient(#cde8f6,#fff);
    background-image: -webkit-linear-gradient(#cde8f6,#fff);
    background-image: -moz-linear-gradient(#cde8f6,#fff);
    background-image: -ms-linear-gradient(#cde8f6,#fff);
    background-image: -o-linear-gradient(#cde8f6,#fff);
    padding: 50px 40px;
    border: 1px solid #e6ecef;
    padding-bottom: 20px;

    }

.buttermilk {

            background-color: white; background-image: linear-gradient(#f5ffc0,#fff);
            background-image: -webkit-linear-gradient(#f5ffc0,#fff);
            background-image: -moz-linear-gradient(#f5ffc0,#fff);
            background-image: -ms-linear-gradient(#f5ffc0,#fff);
            background-image: -ms-linear-gradient(#f5ffc0,#fff);
            background-image: -o-linear-gradient (#f5ffc0,#fff);
            padding: 50px 40px;
            border: 1px solid  #edeee6;
            padding-bottom: 20px;
    
            
        }

        .curdbgpro {
            background-color: white; background-image: linear-gradient(#b4a3b3,#fff);
            background-image: -webkit-linear-gradient(#a394a1,#fff);
            background-image: -moz-linear-gradient(#f6b1f0,#fff);
            background-image: -ms-linear-gradient(#f6b1f0,#fff);
            background-image: -ms-linear-gradient(#e9c9f3,#fff);
            background-image: -o-linear-gradient(#f6b1f0,#fff);
            padding: 50px 40px;
            border: 1px solid #f0eaef;
            padding-bottom: 20px;
            }

            .pro {
                background-color: white; background-image: linear-gradient(#cdecdb,#fff);
                background-image: -webkit-linear-gradient(#b0dbc4,#fff);
                background-image: -moz-linear-gradient(#90bda5,#fff);
                background-image: -ms-linear-gradient(#8db49f,#fff);
                background-image: -ms-linear-gradient(#90ac9d,#fff);
                background-image: -o-linear-gradient(#8dac9b,#fff);
                padding: 50px 40px;
                border: 1px solid #eef4f1;
                padding-bottom: 20px;
                }


                .pro1 {
                    background-color: white; background-image: linear-gradient(#ebe5d2,#fff);
                    background-image: -webkit-linear-gradient(#dabedb,#fff);
                    background-image: -moz-linear-gradient(#d8c0d8,#fff);
                    background-image: -ms-linear-gradient(#f4efa4,#fff);
                    background-image: -ms-linear-gradient(#f5ece0,#fff);
                    background-image: -o-linear-gradient(#c6bdc6,#fff);
                    padding: 50px 40px;
                    border: 1px solid #f3f0ea;
                    padding-bottom: 20px;
                    }
        .mlkpro {
            color: #7c767c;
            font-size: 22px;
            line-height: 22px;
            width: 43px;
            margin-bottom: 15px;
            margin: 0 auto;
            text-align: center;
        }
        .goodnessec a {
            text-decoration: none;
        }
            





        
            
    
    


            
              




            